<form [formGroup]="userForm" (ngSubmit)="onSubmit()">

  <div>
    <label>
      Username:
      <!--
               "street" correspond à la propriété street du FormGroup address
               contenu dans le FormGroup userForm
          -->
      <input type="text" formControlName="username">
    </label>
  </div>

  <div formGroupName="credentials">
    <div>
      <label>
        Email:
        <!--
                 "street" correspond à la propriété street du FormGroup address
                 contenu dans le FormGroup userForm
            -->
        <input type="email" formControlName="email">
      </label>
    </div>

    <div>
      <label>
        Password:
        <!--
                 "city" correspond à la propriété city du FormGroup address
                 contenu dans le FormGroup userForm
            -->
        <input type="password" formControlName="password">
      </label>
    </div>
  </div>


  <!-- address est le nom du FormGroup imbriqué -->
  <div formGroupName="address">
    <div>
      <label>
        Street:
        <!--
                   "street" correspond à la propriété street du FormGroup address
                   contenu dans le FormGroup userForm
              -->
        <input type="text" formControlName="street">
      </label>
    </div>

    <div>
      <label>
        City:
        <!--
                   "city" correspond à la propriété city du FormGroup address
                   contenu dans le FormGroup userForm
              -->
        <input type="text" formControlName="city">
      </label>
    </div>

    <div>
      <label>
        Zip code:
        <!--
                   "zipCode" correspond à la propriété zipCode du FormGroup address
                   contenu dans le FormGroup userForm
              -->
        <input type="text" formControlName="zipCode">
      </label>
    </div>
  </div>

  <button type="submit" [disabled]="!userForm.valid">Submit</button>
</form>